<header class="app-header">
  <nav class="navbar">
    <a class="logo" href="http://localhost:4200/dashboard">Vibe Reads</a>

    <ul class="nav-links">
      <li>
        <button class="icon-btn" (click)="openSearchDialog()">
          <mat-icon>search</mat-icon>
      </button>
      </li>
      <li>
        <button class="icon-btn" (click)="openFilterDialog()">
          <mat-icon>filter_list</mat-icon>
        </button>
      </li>
      <li>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </nav>
</header>
