<app-header></app-header>

<div *ngIf="article" class="article-details">
    <div class="article-details__title-row">
        <h1 class="article-details__title">{{ article?.title }}</h1>

        <button *ngIf="article?.author === currentUsername" (click)="goToEdit()" class="article-details__edit-btn">
            <mat-icon title="Edit the article">edit</mat-icon>
        </button>
    </div>

    <p class="article-details__meta">
        <strong>Author:</strong> {{ article?.author }}
    </p>

    <p class="article-details__description">
        {{ isExpanded ? article?.description : (article?.description | slice:0:200) }}
        <span *ngIf="article?.description && article.description.length > 200">
            <a class="article-details__description-toggle" (click)="toggleDescription($event)">
                {{ isExpanded ? 'Read less' : '... Read more' }}
            </a>
        </span>
    </p>

    <div class="article-details__tags">
        <span *ngFor="let tag of article.tags" class="article-details__tags-item">
            {{ tag }}
        </span>
    </div>

    <div class="article-details__body">
        {{ article?.body }}
    </div>
</div>
